<!DOCTYPE html>
<html>
<head>
	<title>Chronic Disease Detection System</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">CHRONIC DISEASE DETECTION</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a class="nav-item nav-link" href="/">Home</a></li>
                <li><a class="nav-item nav-link" href="/">About</a></li>
                <li><a class="nav-item nav-link" href="/Pneumonia">Pneumonia</a></li>
                <li><a class="nav-item nav-link" href="/Malaria">Malaria</a></li>
                <li><a class="nav-item nav-link" href="/Diabetes">Diabetes</a></li>
                <li><a class="nav-item nav-link" href="/Heart">Heart Failure</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h3>Details </h3>
        <p>Welcome to the home page of the app.</p>
        <p>This is mainly based on as the application of the machine learning,meant to be employed in the remote and the downtrodden area.
          <h3>Overview</h3>
          In todays time we see a lot of the shortage of the doctors in the world especially in India.A lot of people are suffering a lot without the help of the proper medical checkup.Also most of the cases many cases arise leading to dealth due to lack of timely medical checkup<p>
            <p>So to cope up with all of those problems this app is designed which would prove its benefits upto much extent.
            </p>
            <hr>
        </p>
        <h3>Application</h3>
        <ul>
          <li>To remove the dependencies on the doctors</li>
          <li>To help out the poor and helpless people with the normal medical checkup</li>
          <li>To help people avoid paying huge  amount to the doctors unnecessarily</li>
          <li>To extend the role of the technology in the medical field</li>
        </ul>
        <h3>Creators:</h3>
        <p>Rahul Gopinath, Shivam Suryas and Alka</p>
    </div>
</body>
</html>